hello.py
hello-world/*
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.idea/.env
venv/
env/
__pycache__/
chroma_db_legal_bot_part1/
roma_db_legal_bot_part1/
*.sqlite3
.env
venv/
env/
__pycache__/
chroma_db_legal_bot_part1/
roma_db_legal_bot_part1/
*.sqlite3
